<% include ../../partials/header %>
<% include ../partials/navbar %>
<% errors = error && error.length > 0 %>
<div class="container w-50">
  <div class="display-4 pt-4">Edit <%= username %></div>
  <form action="/admin/users/<%= id %>?_method=PUT" method="POST" novalidate>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" type="text" class="form-control <% if( errors && error[0].username){ %>is-invalid <% } %>"
        id="username" required value="<%= username %>">
      <% if (errors && error[0].username) { %>
      <small class="invalid-feedback">
        <%= error[0].username %>
      </small>
      <% } %>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" class="form-control <% if(error && error.length > 0 && error[0].email){ %>is-invalid <% } %>"
        id="email" type="email" required value="<%= email %>">
      <% if (errors && error[0].email) { %>
      <small class="invalid-feedback">
        <%= error[0].email %>
      </small>
      <% } %>
    </div>
    <div class="form-group">
      <label for="password">Change password</label>
      <div class="input-group" id="show_hide_password_5">
        <input name="password" type="password"
          class="form-control <% if(errors && error[0].password){ %>is-invalid <% } %>" id="password" required>
        <div class="input-group-append">
          <a class="btn btn-light" role="button" id="button-addon2">
            <i class="fa fa-eye-slash text-dark" aria-hidden="true"></i>
          </a>
        </div>
        <% if (errors && error[0].password) { %>
        <small class="invalid-feedback">
          <%= error[0].password %>
        </small>
        <% } %>
      </div>
    </div>
    <div class="form-group">
      <label for="activate">Activated</label>
      <input id="activate" name="activate" value="true" type="checkbox" checked data-toggle="toggle" data-on="True"
        data-off="False">
    </div>
    <% if(!accountActivated) { %>
    <script>
      $(document).ready(function () {
        $("#activate").attr('checked', false);
      });
    </script>
    <% } %>
    <% if(!isAdmin) { %>
    <script>
      $(document).ready(function () {
        $("#admin").attr('checked', false);
      });
    </script>
    <% } %>
    </script>
    <div class="form-group">
      <label for="admin">Admin</label>
      <input id="admin" name="admin" value="true" type="checkbox" checked data-toggle="toggle" data-on="True"
        data-off="False">
    </div>
    <button type="submit " class="btn btn-primary">Edit User</button>
  </form>
</div>
<% include ../../partials/footer %>
