<% include ../../partials/header %>
<% include ../partials/navbar %>
<% errors = error && error.length > 0 %>
<div class="container adminEdit pl-5 pr-5">
  <div class="display-4 pt-4">Edit <%= username %></div>
  <div class="accountStatus pt-2 pb-2">
    Account Status: <strong>
      <%- isBanned ? 'Banned' : isSuspended ? `Suspended till ${moment(suspendedExpire).format('M/D/YYYY h:mm A')} UTC` : emailVerified ? 'Active' : 'Unactivated' %></strong>
  </div>
  <form action="/admin/users/<%= id %>?_method=PUT" method="POST" novalidate>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" type="text" class="form-control <% if( errors && error[0].username){ %>is-invalid <% } %>"
        id="username" required value="<%= username %>">
      <% if (errors && error[0].username) { %>
      <small class="invalid-feedback">
        <%= error[0].username %>
      </small>
      <% } %>
    </div>
    <div class="form-group">
      <label for="email">Email <% if (currentUser.streamerMode) {%>(Email can't be updated as streamer mode is enabled.)<%}%></label>
      <input name="email" class="form-control <% if(error && error.length > 0 && error[0].email){ %>is-invalid <% } %>"
        id="email" type="email" required value="<% if (currentUser.streamerMode) {%>Streamer Mode is enabled<%} else{%><%= email %><%}%>">
      <% if (errors && error[0].email) { %>
        <small class=" invalid-feedback">
          <%= error[0].email %>
        </small>
        <% } %>
    </div>
    <div class="form-group">
      <label for="password">Change password</label>
      <div class="input-group">
        <input name="password" type="password" data-toggle="password"
          class="form-control <% if(errors && error[0].password){ %>is-invalid <% } %>" id="password" required>
        <% if (errors && error[0].password) { %>
        <small class="invalid-feedback">
          <%= error[0].password %>
        </small>
        <% } %>
      </div>
    </div>
    <% if(lastLog !== 'N/A' && lastActivity !== 'N/A') { %>
    <h4>Basic Info</h4>
    <div class="row">
      <% if(lastActivity !== 'N/A') { %>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Last Activity</h6>
            <p class="card-text"><%= moment(lastActivity).format('MMM Do YYYY hh:mm A') %> CST %> </p>
          </div>
        </div>
      </div>
      <% } %>
      <% if(lastLog !== 'N/A') { %>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Last Login</h6>
            <p class="card-text"><%= moment(lastLog).format('MMM Do YYYY hh:mm A') %> CST %> </p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
    <div class="pt-4">
      <label for="role">Role</label>

      <select id="role" class="selectpicker">
        <option>Admin</option>
        <option>User</option>
      </select>

      <div class="form-group pt-2">
        <label for="activate">Activate</label>
        <input id="activate" name="activate" value="true" type="checkbox" checked data-toggle="toggle" data-on="Yes"
          data-off="No" data-onstyle="success" data-offstyle="danger">
      </div>
      <% if(!emailVerified) { %>
      <script>
        $(document).ready(function () {
          $("#activate").attr('checked', false);
        });
      </script>
      <% } %>
    </div>
    <div class="form-group pt-2 float-right">
      <button type="submit " class="btn btn-primary">Edit User</button>
    </div>
  </form>
</div>
<% include ../../partials/footer %>
