 <div class="modal fade" id="create-link" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create shorted link</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form action="/links" method="POST" class="mt-2" id="links">
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                      <label for="linksLimit">Limit?</label>
                      <select name="linksLimit" class="selectpicker" id="linksLimit" data-style="btn-primary">
                        <option value="0" selected>Never</option>
                        <option value="1">24 Hours</option>
                        <option value="7">A Week</option>
                        <option value="30">A Month</option>
                      </select>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Shorted Link</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="edit-link" tabindex="-1" role="dialog" aria-labelledby="edit-lin">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit link</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form action="" method="POST" class="mt-2">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary text-white">Save Changes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Remove all links</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form action="/links/all/?_method=delete" method="POST" class="mt-2">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                  <p>Are you sure you want to delete all your links, this procedure is irreversible.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger btn-ok text-white">Delete all link</button>
                </form>
              </div>
            </div>
          </div>
        </div>
<div class="alert alert-danger collapse alert-timeout" role="alert" id="error">
</div>
<div class="alert alert-success collapse alert-timeout" role="alert" id="success">
</div>
<div class="customTable">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h2>Your <strong>Links</strong>
          </h2>
        </div>
        <div class="col-xs-12 col-md-6">
          <a data-toggle="modal" data-target="#confirm-delete" role="button" class="btn btn-danger">Delete
            All</a>
          <a data-toggle="modal" data-target="#create-link" role="button"
            class="btn btn-success">Create Link</a>
        </div>
      </div>
    </div>
  </div>
 <table class="table table-hover" id="table" data-toggle="table" data-pagination="true" data-id-field="id"
    data-side-pagination="server" data-url="/links-data" data-sort-order="desc" data-page-size="10"
    data-page-list="[10, 25, 50, 100, all]">
      <thead>
        <tr>
          <th data-field="code" data-formatter="codeFormater" scope="col">Shorten</th>
          <th data-field="url" data-formatter="urlFormater" scope="col">Original</th>
          <th data-field="createdAt" data-formatter="createdAtFormater" data-sortable="true" scope="col">Created</th>
          <th data-field="clicks" data-sortable="true" scope="col">Clicks</th>
          <th data-field="tags" data-formatter="tagsFormater" scope="col">Tags</th>
          <th data-field="actions" data-formatter="actionsFormatter" data-events="actionEvents" scope="col">Actions</th>
        </tr>
      </thead>
    </table>
    <script>
      $(document).ready(() => {
        $('#table').bootstrapTable({
          formatNoMatches: function () {
            return 'No links found.'
          }
        });
        $(".clipboard").tooltip({
         placement: "bottom",
         delay: 1000
       });
      });
      const clipboard = new ClipboardJS(".clipboard");

      const $table = $('#table')

      function createdAtFormater(value, row) {
        return moment(value).format('MMM Do YYYY hh:mm A')
      }
      function urlFormater(value, row) {
        return `<a href="${value}" taget="_blank">${value}</a>`
      }
      function codeFormater(value, row) {
        return `<a href="<%= siteURL %>/${value}" taget="_blank">${value}</a>`
      }
      function tagsFormater(value, row) {
        if (value.length > 0) {
          const tags = [];
          value.map(data=>{
            tags.push(
               '<span class="badge badge-primary">',
          data,
          '</span> ',)
          })
          return  tags.join('');
        }
        return 'No Tags';
      }

      function actionsFormatter(value, row, index) {
        return [
          `<a class="link clipboard" id="clip_${row.id}" href="#" data-clipboard-text="<%= siteURL %>/l/${row.code}">`,
          '<i class="fas fa-link"></i>',
          '</a> ',
          '<a class="edit" href="javascript:void(0)" title="Copy link">',
          '<i class="fas fa-edit"></i>',
          '</a> ',
          '<a class="delete" href="javascript:void(0)" title="Delete Upload">',
          ' <i class="fas fa-times-circle"></i>',
          '</a>'
        ].join('')
      }
      //Data events
      window.actionEvents = {
        'click .edit': function (e, value, row, index) {
          $('#edit-link form').attr('action', `/edit/${row._id}?_method=PUT`);
          $('#edit-link').modal('show');
        },
        'click .delete': function (e, value, row, index) {
          $.ajax({
            url: `/links/${row._id}?_method=DELETE`,
            type: 'POST',
            data: { _csrf: '<%= _csrf %>' }, success: function (response) {
              $('#success').show(); $('#success').html(response.message); $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
              })
            }, error: function (response) {
              $('#error').show(); $('#error').html(response.message);
            }
          });
        }
      }
      function setTooltip(message, id) {
        $(`#${id}`)
           .tooltip("hide")
           .attr("data-original-title", message)
           .tooltip("show");
       }
       function hideTooltip(id) {
           $(`#${id}`)
           .tooltip("hide")
       }
       clipboard.on("success", (e) => {
         setTooltip("Copied!", e.trigger.id);
         hideTooltip(e.trigger.id);
       });
       clipboard.on("error", (e) => {
         setTooltip("Failed!");
         hideTooltip(e.trigger.id);
       });
      $('#edit-link').on('hide.bs.modal', function() {
      $(':input', this).val('');
    }); </script>
      </div>
