<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<div class="container mt-3 mb-3 tokens">
  <%- include ('../partials/alerts/error') %>
  <%- include ('../partials/alerts/success') %>
  <%- include ('../partials/alerts/info') %>

  <%- include ('../partials/account/tokensList') %>
</div>

<%- include ('../partials/footer.ejs') %>
