<div class="header mb-2"><%= user.username %>s Account</div>
<div class="form-group">
  <label for="username">Username</label>
  <input
    name="username"
    type="text"
    class="form-control <% if(errors && error[0].username) { %> is-invalid <% } %>"
    id="username"
    value="<%= user.username %>"
    autocomplete="off"
    data-lpignore="true"/>
  <% if(errors && error[0].username) { %>
  <small class="form-text text-danger"> <%= error[0].username %></small>
  <% } %>
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input name="email" type="text" class="form-control <% if(errors && error[0].email) { %> is-invalid <% } %>" id="email" value="<%-
  currentUser.streamerMode ? `${user.email.substring(0,3)}******`: user.email
  %>" <%- currentUser.streamerMode ? `disabled`: '' %> /> <%
  if(currentUser.newEmail) { %>
  <small class="form-text text-success pt-2">
    Your new e-mail address
    <span id="newEmail"
      ><%- currentUser.streamerMode ?
      `${currentUser.newEmail.substring(0,3)}******`: currentUser.newEmail
      %></span
    >, has not yet been verified.
  </small>
  <% } %> <% if(errors && error[0].email) { %>
  <small class="form-text text-danger"> <%= error[0].email %></small>
  <% } %>
</div>
