<div class="info header mt-3 mb-2">Toggles</div>
<div class="form-group d-inline">
  <label for="streamerMode">Streamer Mode</label>
  <input
    id="streamerMode"
    name="streamerMode"
    value="true"
    type="checkbox"
    checked
    data-toggle="toggle"
    data-on="On"
    data-off="Off"
    data-onstyle="success"
    data-offstyle="danger"
  />
</div>
<div class="form-group d-inline">
  <label for="emailVerified">Email Verified</label>
  <input
    id="emailVerified"
    name="emailVerified"
    value="true"
    type="checkbox"
    checked
    data-toggle="toggle"
    data-on="On"
    data-off="Off"
    data-onstyle="success"
    data-offstyle="danger"
  />
</div>
<div class="form-group d-inline">
  <label for="mfa"> Multi Factor Authentication </label>
  <input
    id="mfa"
    name="mfa"
    value="true"
    type="checkbox"
    checked
    data-toggle="toggle"
    data-on="On"
    data-off="Off"
    data-onstyle="success"
    data-offstyle="danger"
    <% if(!user.mfa){ %>
  disabled <% } %> />
</div>
<script>
  $(document).ready(function() {
    const mfa = '<%= user.mfa %>' === 'true' ? true : false;
    $('#streamerMode').attr(
      'checked',
      '<%= user.streamerMode %>' === 'true' ? true : false
    );
    $('#emailVerified').attr(
      'checked',
      '<%= user.emailVerified %>' === 'true' ? true : false
    );
    $('#mfa').attr('checked', mfa);

    $('#mfa').change(function() {
      if ($(this).prop('checked') === false) {
        $.ajax({
          url: '/admin/users/edit/<%= user.slug %>/mfa?_method=delete',
          type: 'POST',
          data: { _csrf: '<%= _csrf %>' },
          success: function(response) {
            $('#mfa').bootstrapToggle('disable');
            $('#success').show();
            $('#success').html(response.message);
          },
          error: function(response) {
            console.log(response);
            $('#error').show();
            $('#error').html(response.responseJSON.message);
            $('#mfa').bootstrapToggle(mfa ? 'on' : 'off');
            $('#mfa').bootstrapToggle(mfa ? 'enable' : 'disable');
          }
        });
      }
    });
  });
</script>
