<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon" />
    <title>
      <%= pageTitle %> | <%= siteTitle %>
    </title>
    <!-- Site meta data -->
    <meta name="og:site_name" content="<%= siteTitle %>" />
    <meta name="twitter:title" content="<%= siteTitle %>" />
    <meta name="twitter:description" content="<%= siteDesc %>" />
    <meta name="description" content="<%= siteDesc %>" />
    <meta property="og:description" content="<%= siteDesc %>" />
    <meta name="theme-color" content="#0084da" />
    <meta content="<%= siteURL + currentPath %>" property="og:url" />
    <link rel="apple-touch-icon" href="/assets/images/logo_192.png" />
    <link rel="manifest" href="/manifest.json" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Moment -->
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <!-- Font Awsome-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/bower_components/font-awsome/css/all.min.css"
    />
    <!--Bootstrap -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/bower_components/bootstrap/dist/css/bootstrap.min.css"
    />
    <script src="/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--Bootstrap Toggle -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/bower_components/bootstrap4-toggle/css/bootstrap4-toggle.min.css"
    />
    <!--Bootstrap Select -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"
    />
    <!-- Bootstrap Table -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/bower_components/bootstrap-table/dist/bootstrap-table.min.css"
    />
    <!-- Bootstrap Date and Time picker -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/bower_components/tempusdominus-bs4/build/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- Bootstrap Fileinput -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/bower_components/bootstrap-fileinput/css/fileinput.min.css"
    />
    <!-- Clipborad -->
    <script src="/bower_components/clipboard/dist/clipboard.min.js"></script>
    <script src="/bower_components/tempusdominus-bs4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/bower_components/bootstrap-show-password/dist/bootstrap-show-password.min.js"></script>
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
  </head>

  <body>
