<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>
    <%= pageTitle %> | <%= siteTitle %>
  </title>
  <!-- Site meta data -->
  <meta name="og:site_name" content="<%= siteTitle %>" />
  <meta name="twitter:title" content="<%= siteTitle %>" />
  <meta name="twitter:description" content="<%= siteDesc %>" />
  <meta name="description" content="<%= siteDesc %>">
  <meta property="og:description" content="<%= siteDesc %>" />
  <meta name="theme-color" content="#0084da">
  <meta content="<%= siteURL + currentPath %>" property="og:url" />

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript" src="/assets/vender/jquery/js/jquery.min.js"></script>
  <!-- Moment -->
  <script type="text/javascript" src="/assets/vender/momentjs/js/momentjs.min.js"></script>
  <!-- Font Awsome-->
  <link rel="stylesheet" type="text/css" href="/assets/vender/font-awesome/css/all.min.css">
  <!--Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/assets/vender/bootstrap/css/bootstrap.min.css">
  <!--Bootstrap Toggle -->
  <link rel="stylesheet" type="text/css" href="/assets/vender/bootstrap-toggle/css/bootstrap-toggle.min.css">
  <!--Bootstrap Select -->
  <link rel="stylesheet" type="text/css" href="/assets/vender/bootstrap-select/css/bootstrap-select.min.css">
  <!-- Bootstrap Table -->
  <link rel="stylesheet" type="text/css" href="/assets/vender/bootstrap-table/css/bootstrap-table.min.css">
  <!-- Bootstrap Date and Time picker -->
  <link rel="stylesheet" type="text/css" href="/assets/vender/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
  <script type="text/javascript" src="/assets/vender/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="/assets/vender/bootstrap-show-password/js/bootstrap-show-password.min.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>
