<%- include ('../../partials/header') %> <%- include
('../../partials/admin/navbar') %>

<div class="container w-50 mt-3 mb-3 admin user">
  <div class="alert alert-success collapse alert-timeout" role="alert" id="success"></div>
  <div class="alert alert-danger collapse alert-timeout" role="alert" id="error"></div>
    <%- include ('../../partials/alerts/error') %> <%- include
    ('../../partials/alerts/success') %>
    <div class="header mb-2">Branding</div>
    <div class="row pt-0">
      <div class="col-6">
        <div class="info header mb-2">Logo</div>
      <input id="logo-upload" type="file" name ="logo" class="file" data-show-upload-stats="false" data-theme="fas" data-show-remove="false" data-show-preview="false" data-el-error-container="#logoError" data-show-cancel="false" data-upload-url="/admin/settings/logo" data-upload-extra-data='{ "_csrf": "<%= _csrf %>"}' data-allowed-file-types='["image"]' data-allowed-file-extensions='["png"]'>
      <div id="logoError" class="help-block"></div>
       <button
       id="revert-logo"
    type="button"
    class="btn btn-primary mt-3 mb-2"
    style="color: #ffff;"
  >
    Revert to default
  </button>
    </div>
    <div class="col-6">
      <div class="info header mb-2">Favicon</div>
      <input id="favicon-upload" type="file" name ="favicon" class="file" data-show-upload-stats="false" data-theme="fas" data-show-remove="false" data-show-preview="false" data-el-error-container="#faviconError" data-show-cancel="false" data-upload-url="/admin/settings/favicon" data-upload-extra-data='{ "_csrf": "<%= _csrf %>"}' data-allowed-file-types='["image"]' data-allowed-file-extensions='["ico"]'>
      <div id="faviconError" class="help-block"></div>
      <button
       id="revert-favicon"
    type="button"
    class="btn btn-primary mt-3 mb-2"
    style="color: #ffff;"
  >
    Revert to default
  </button>
    </div>
  </div>
  <hr>
  <% if(signupTerms) { %>
    <div class="header mb-2">Terms</div>
    <div id="terms"></div>
    <button id="save-terms" class="btn btn-primary mt-3 mb-3" style="color: #ffff;">
      Update Terms
    </button>
    <hr>
  <% } %>
 <button
    type="button"
    class="btn btn-primary mt-3 mb-2"
    data-toggle="modal"
    data-target="#transfer-ownership"
    style="color: #ffff;"
  >
    Transfer Ownership
  </button>
  <!-- Modal -->
  <div
    class="modal fade"
    id="transfer-ownership"
    tabindex="-1"
    role="dialog"
    aria-labelledby="transferOwnership"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Transfer Ownership</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>
            Once the transfer is complete you will be converted to
            <strong>admin</strong> and the user selected will be owner. Be sure you want to do this as the procedure is irreversible
          </p>
          <form action="/admin/settings/ownership" method="POST">
            <div class="form-group mt-2">
            <select class="selectpicker" name="slug" data-live-search="true" data-width="100%">
              <% users.map(data=>{ %>
                  <option value="<%= data.slug %>"><%= data.username %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <button class="btn btn-danger btn-ok" style="color: #ffff;">
              Transfer Ownership
            </button>
          </form>
        </div>
      </div>
      </div>
    </div>
</div>
</div>
      <script>
  $(document).ready(() => {
        $('#logo-upload').on('fileuploaded', function(event, previewId, index, fileId) {
          $('#logo-upload').fileinput('reset');
          $('.navbar-brand img').attr('src','/assets/images/custom/logo.png')
        });
        $('#revert-logo').on('click',function(e){
          $.ajax({
            url: '/admin/settings/logo?_method=DELETE',
            type: 'POST',
            data: { _csrf: '<%= _csrf %>' },
            success: function(response) {
              $('#success').show();
              $('#success').html(response.message);
              $('.navbar-brand img').attr('src','/assets/images/logo.png')
            },
            error: function(response) {
              console.log(response)
              $('#error').show();
              $('#error').html(response.responseJSON.message);
            }
          })
        })
        $('#favicon-upload').on('fileuploaded', function(event, previewId, index, fileId) {
          $('#favicon-upload').fileinput('reset');
           $('link[rel="shortcut icon"]').attr('href', '/assets/images/custom/favicon.ico')
        });
        $('#revert-favicon').on('click',function(e){
          $.ajax({
            url: '/admin/settings/favicon?_method=DELETE',
            type: 'POST',
            data: { _csrf: '<%= _csrf %>' },
            success: function(response) {
              $('#success').show();
              $('#success').html(response.message);
             $('link[rel="shortcut icon"]').attr('href', '/favicon.ico')
            },
            error: function(response) {
              console.log(response)
              $('#error').show();
              $('#error').html(response.responseJSON.message);
            }
          })
        })
  <% if(signupTerms) { %>
     $('#terms').summernote({
        tabsize: 2,
        height: 350
     })
     <% if(terms) {%>
       $('#terms').summernote('pasteHTML',`<%= terms.content %>`);

     <% }%>
   $('#save-terms').on('click',function(e){
     const termsContent = $('#terms').summernote('code')
          $.ajax({
            url: '/admin/settings/terms?_method=PUT',
            type: 'POST',
            data: { _csrf: '<%= _csrf %>', content: termsContent},
            success: function(response) {
              $('#success').show();
              $('#success').html(response.message);
            },
            error: function(response) {
              console.log(response)
              $('#error').show();
              $('#error').html(response.responseJSON.message);
            }
          })
        })
      })
      <% } %>
     </script>

<%- include ('../../partials/footer.ejs') %>
