<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="container">
  <div class="display-4 pt-2 pb-2 text-center">Admin image gallery</div>
</div>
<div class="container">
  <% if (success && success.length > 0){ %>
  <div class="container">
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  </div>
  <% } %>
  <% if (error && error.length > 0){ %>
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  </div>
  <% } %>
</div>
<div class="container-fluid mt-2">
  <% if(gallery.length > 0) { %>
  <% let rowCount = 0 %>
  <% gallery.map((image, index) =>{ %>
  <% if(index % 4 === 0) { rowCount +=1} %>
  <% let lastRow = Math.round(gallery.length / 4) === rowCount %>
  <%- (lastRow &&index % 4 == 0) ? `<div class="row ml-2 mr-2">`: "" %>
  <%- (!lastRow && index % 4 == 0) ? `<div class="row ml-2 mr-2 justify-content-center">`: "" %>
  <div class="col-md-2 col-xs-12 gallery">
    <a href="/view/i/<%= image.fileName %>">
      <img class="img-thumbnail" src="/u/i/<%= image.fileName %>">
    </a>
    <form action="/admin/uploads/<%= image.id %>?_method=DELETE&type=image&name=<%= image.fileName %>" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="btn btn-danger position-absolute" title="Delete" data-toggle="tooltip">
        <i class="fas fa-trash"></i>
      </button>
    </form>
  </div>
  <%- index % 4 == 3 ? "</div>" : "" %>
  <% }) %>
  <% } else { %>
  <p class="font-weight-bold  text-center">No images found</p>
  <% } %>
</div>
</div>
<% include ../partials/footer %>
