<%- include ('../partials/header') %> <%- include ('../partials/admin/navbar')
%>
<script>
  $(document).ready(() => {
      $('#spaceUsed').one('click',function() {
        $('#spaceUsed').removeClass('btn p-0 m-0 btn-link')
        $('#spaceUsed').html('Loading please wait....');
        $.ajax({
          url: '/admin/space-used',
          type: 'get',
          success: function(response) {
            isSpaceUsedClick = false;
            $('#spaceUsed').html(response.data);
        },
        error: function(response) {
          console.log(response);
          if(response.responseJSON === undefined) {
            $('#spaceUsed').html('Error loading');
          }else {
            $('#spaceUsed').html(response.responseJSON.message );
          }
        }
      });
    });
  });
</script>
<div class="container w-75 mt-3 admin index">
  <div class="mb-3">
    <%- include ('../partials/streamerMode')%> <%- include
    ('../partials/alerts/error') %> <%- include ('../partials/alerts/success')
    %>
  </div>
  <div class="row">
    <div class="col-xl-6 col-sm-12 mb-3">
      <div class="card text-white o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-upload"></i>
          </div>
          <div class="mr-5">
            <%= uploads %> Upload<%if(uploads >= 2){%>s<%}%>
          </div>
        </div>
        <a
          class="card-footer text-white clearfix small z-1"
          href="/admin/uploads"
        >
          <span class="float-left"
            >View <%if(uploads >= 2){%>all <%}%> Upload<%if(uploads >=
            2){%>s<%}%></span
          >
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-6 col-sm-12 mb-3">
      <div class="card text-white o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon r-0">
            <i class="fas fa-fw fa-hdd"></i>
          </div>
          <div class="mr-5">
            <span class="btn p-0 m-0 btn-link text-white" id="spaceUsed">Click to view</span>
          </div>
        </div>
          <div
            class="card-footer text-white clearfix small z-1"
          >
            <span class="float-left">Total Space Used</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-sm-4 mb-3">
      <div class="card text-white o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-upload"></i>
          </div>
          <div class="mr-5">
            <%= images %> Image<%if(uploads >= 2){%>s<%}%>
          </div>
        </div>
        <a
          class="card-footer text-white clearfix small z-1"
          href="/admin/uploads"
        >
          <span class="float-left"
            >View <%if(uploads >= 2){%>all <%}%> Image<%if(uploads >=
            2){%>s<%}%></span
          >
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-4 mb-3">
      <div class="card text-white o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon r-0">
            <i class="fas fa-fw fa-users"></i>
          </div>
          <div class="mr-5">
            <%= files %> File<%if(files >= 2){%>s<%}%>
          </div>
        </div>
        <a
          class="card-footer text-white clearfix small z-1"
          href="/admin/uploads"
        >
          <span class="float-left">View File<%if(files >= 2){%>s<%}%></span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-4 mb-3">
      <div class="card text-white o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon r-0">
            <i class="fas fa-fw fa-users"></i>
          </div>
          <div class="mr-5">
            <%= texts %> Text<%if(texts >= 2){%>s<%}%>
          </div>
        </div>
        <a
          class="card-footer text-white clearfix small z-1"
          href="/admin/uploads"
        >
          <span class="float-left">View Text<%if(texts >= 2){%>s<%}%></span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include ('../partials/footer.ejs') %>
