<div class="alert alert-danger collapse" role="alert" id="error"></div>
<div
  class="alert alert-success collapse alert-timeout"
  role="alert"
  id="success"
></div>
 <div
    class="modal fade"
    id="edit-upload"
    tabindex="-1"
    role="dialog"
    aria-labelledby="edit-upload"
    aria-hidden="true"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit <strong id="editUploadId"></strong></h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      <form id="editUpload">
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
    <input type="hidden" id="fileName" name="fileName"/>
    <div class="form-group">
      <label for="uploadName">Name</label>
      <input class="form-control" id="uploadName" name="name" type="text" data-lpignore="true">
    </div>

    <div class="form-group">
      <label for="uploadTags">Tags</label>
      <input class="form-tags form-control" id="uploadTags" name="tags" type="text" data-lpignore="true">
    </div>
           </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary text-white" id="btn-edit-upload">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
  </div>
<div class="customTable">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h2>Your <strong>Uploads</strong></h2>
        </div>
        <div class="col-xs-12 col-md-6">
          <a
            data-toggle="modal"
            data-target="#confirm-delete"
            role="button"
            class="btn btn-danger"
            >Delete All</a
          >
        </div>
      </div>
    </div>
  </div>
  <table
    id="table"
    data-toggle="table"
    data-pagination="true"
    data-id-field="id"
    data-side-pagination="server"
    data-search="true"
    data-url="/upload-data"
    data-sort-order="desc"
    data-page-size="10"
    data-show-refresh="true"
    data-page-list="[10, 25, 50, 100, all]"
  >
    <thead>
      <tr>
        <th data-field="name" data-formatter="nameFormater" scope="col">
          Name
        </th>

        <th data-field="size" scope="col">Size</th>
        <th
          data-field="uploadedAt"
          data-formatter="uploadedAtFormater"
          data-sortable="true"
          data-searchable="false"
          scope="col"
        >
          Uploaded
        </th>
        <th data-field="tags" data-formatter="tagsFormater" scope="col">
          Tags
        </th>
        <th
          data-field="operate"
          data-formatter="actionsFormatter"
          data-events="actionEvents"
          data-searchable="false"
          scope="col"
          data-width="175px"
        >
          Actions
        </th>
      </tr>
    </thead>
  </table>
  <script>
    $(document).ready(() => {
       $("#table").bootstrapTable({
         formatNoMatches: function () {
           return "No uploads found.";
         },
       });
       $("#editUpload").on("submit", function (e) {
         e.preventDefault();
       });
       $(".clipboard").tooltip({
         placement: "bottom",
         delay: 1000
       });
      $('#uploadTags').tagsinput({
           unique: true,
           minChars: 2,
           maxChars: 25,
           limit: 10,
           validationPattern: new RegExp('^[a-zA-Z]+$')
        });
      });
    const clipboard = new ClipboardJS(".clipboard");
    const $table = $('#table');

    // Data formatters
    function nameFormater(value, row) {
      if ('<%= currentUser.streamerMode %>' === 'true') {
        return `<a href="${
          row.type === 'image'
            ? `/view/i/${row.fileName}`
            : `/u/${row.fileName + row.fileExtension}`
        }" target="_blank"">${value ? value.substring(0, 3) : row.fileName.substring(0, 3)}*********************</a>`;
      }
      return `<a href="${
        row.type === 'image' ? `/view/i/${row.fileName}` : `/u/${row.fileName + row.fileExtension}`
      }" target="_blank">${value ? value : row.fileName}</a>`;
    }

        // Data formatters
    function tagsFormater(value, row) {
      if (value.length > 0) {
        const tags = [];
        value.map(data=>{
          tags.push(
             '<span class="badge badge-primary">',
        data,
        '</span> ',)
        })
        return  tags.join('');
      }
      return 'No Tags';
    }
    function uploadedAtFormater(value, row) {
      return moment(value).fromNow();
    }
    function actionsFormatter(value, row, index) {
      return [
        `<a class="link clipboard" id="clip_${row.id}" href="#" data-clipboard-text="${row.type === 'image' ? `<%= siteURL %>/view/i/${row.fileName}` : `${siteURL}/u/${row.fileExtension + row.fileExtension}`}">`,
        '<i class="fas fa-link"></i>',
        '</a> ',
        '<a class="edit" href="javascript:void(0)">',
        '<i class="fas fa-edit"></i>',
        '</a> ',
        '<a class="delete" href="javascript:void(0)">',
        ' <i class="fas fa-times-circle"></i>',
        '</a>'
      ].join('');
    }
    //Data events
    window.actionEvents = {
      'click .delete': function(e, value, row, index) {
        $.ajax({
          url: `/upload-data/${row.file + row.fileExtension}?_method=DELETE`,
          type: 'POST',
          data: { _csrf: '<%= _csrf %>' },
          success: function(response) {
            $('#success').show();
            $('#success').html(response.message);
            $table.bootstrapTable('remove', {
              field: 'id',
              values: [row.id]
            });
          },
          error: function(response) {
            $('#error').show();
            $('#error').html(response.message);
          }
        });
      },
      'click .edit': function(e, value, row, index) {
        const tags = row.tags;
        tags.map(data=>{
          $('#uploadTags').tagsinput('add', data);
        })
        $('#fileName').attr('value', row.fileName);
        $('#uploadName').attr('value', row.fileName  ? row.fileName : row.name);
        $('#edit-upload').modal('show');
      }
    }

       function setTooltip(message, id) {
         $(`#${id}`)
           .tooltip("hide")
           .attr("data-original-title", message)
           .tooltip("show");
       }
       function hideTooltip(id) {
           $(`#${id}`)
           .tooltip("hide")
       }
       clipboard.on("success", (e) => {
         setTooltip("Copied!", e.trigger.id);
         hideTooltip(e.trigger.id);
       });
       clipboard.on("error", (e) => {
         setTooltip("Failed!");
         hideTooltip(e.trigger.id);
       });
      $('#btn-edit-upload').on('click', function(e) {
      e.preventDefault();
      const tags = $("#uploadTags").tagsinput('items')
      const fileName = $('#fileName').val();
      const uploadName = $('#uploadName').val();
      $.ajax({
        url: '/edit?_method=PUT',
        type: 'POST',
        data: { _csrf: '<%= _csrf %>', tags: tags ,fileName: fileName, name:uploadName },
        success: function(response) {
          $table.bootstrapTable('refresh');
          $('#uploadTags').tagsinput('removeAll');
          $('#edit-upload').modal('hide');
          $('#fileName').attr('value', '');
          $('#uploadName').attr('value', '');
          $('#success').show();
          $('#success').html(response.message);
        },
        error: function(response) {
          console.log(response);
          $('#edit-upload-error').addClass('d-block');
          $('#edit-upload-error').html(response.responseJSON.message);
        }
      });
    });
    $('#edit-upload').on('hide.bs.modal', function () {
        $('#fileName').attr('value', '');
        $('#uploadName').attr('value', '');
      $('#uploadTags').tagsinput('removeAll');
    })

</script>

  <div
    class="modal fade"
    id="confirm-delete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="confirm-delete"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Remove all uploads</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form action="/all/uploads?_method=delete" method="POST" class="mt-2">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <p>
              Are you sure you want to delete all of your uploads account, this
              procedure is irreversible.
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-danger btn-ok text-white">Delete all uploads</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
