<div class="info header mt-3 mb-2">Basic Info</div>
<div class="row pb-5">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Limits</h5>
        <p class="card-text"><strong>15</strong> uploads per min.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Last Login</h5>
        <p class="card-text"><%= moment(currentUser.lastLog).fromNow() %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Last Login Location</h5>
        <p class="card-text d-inline">
          <a
            href="https://whatismyipaddress.com/ip/<%= currentUser.lastLoginIP %>" target="_blank" rel="nofollow"
          >
            <%= currentUser.lastLoginLocation %>
          </a>
        </p>
      </div>
    </div>
  </div>
  <% if(currentUser.passwordChanged !== undefined) { %>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Last password change</h5>
        <p class="card-text">
          <%= moment(currentUser.passwordChanged).fromNow() %>
        </p>
      </div>
    </div>
  </div>
  <% } %>
  <div class="row pb-5">
    <% if(currentUser.lastActivity !== undefined) { %>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Last Activity</h5>
          <p class="card-text">
            <%= moment(currentUser.lastActivity).format('MMM Do YYYY hh:mm A')
            %> CST %>
          </p>
        </div>
      </div>
    </div>
    <% if(currentUser.passwordChanged !== undefined) { %>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Last password change</h5>
          <p class="card-text">
            <%= moment(currentUser.passwordChanged).fromNow() %>
          </p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
