<div class="customTable">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h2>Your <strong>Uploads</strong></b>
          </h2>
        </div>
        <div class="col-xs-12 col-md-6">
          <a data-toggle="modal" data-target="#confirm-delete" role="button" class="btn btn-danger">Delete
            All</a>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">File</th>
          <th scope="col">Type</th>
          <th scope="col">Size</th>
          <th scope="col">Uploaded</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% const uploadsLength = uploads.length; %>
        <% if (!uploads || uploads.length === 0) { %>
        <tr class="text-center">
          <td colspan=5">No uploads found</td>
        </tr>
        <% } else { %>

        <% for(i = 0; i < uploadsLength; i++) { %>
        <tr>
          <td>
            <a
              href="<%- uploads[i].isImage ? `/view/${uploads[i].fileName}` : `/u/${uploads[i].fileName}` %>" target="_blank">
             <%- currentUser.streamerMode  ? `${uploads[i].fileName.substring(0,3)}*********************` : uploads[i].fileName %></a>
          </td>
               <td>
            <%= uploads[i].type %>
          </td>
          <td>
            <%= uploads[i].size %>
          </td>
          <td>
            <%= moment(uploads[i].createdAt).fromNow() %>
          </td>
          <td>
            <form class=" d-inline"
              action="/me/uploads/<%= uploads[i].id %>?_method=DELETE&name=<%= uploads[i].fileName %>" method="POST">
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              <button class="delete" title="Delete" data-toggle="tooltip">
                <i class="fas fa-times-circle"></i>
              </button>
            </form>
          </td>
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Remove all uploads</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete all of your uploads account, this procedure is irreversible.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="/me/uploads/delete/all" class="btn btn-danger btn-ok">Delete uploads</a>
        </div>
      </div>
    </div>
  </div>
</div>
