<!doctype html>
<html class="h-100" lang="en">

<head>
  <title>
    <%= pageTitle %> | <%= siteTitle %>
  </title>
  <!-- Basic Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript" src="/assets/vender/jquery/js/jquery.min.js"></script>
  <!-- Font Awsome-->
  <link rel="stylesheet" type="text/css" href="/assets/vender/font-awesome/css/all.min.css">
  <!--Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/assets/vender/bootstrap/css/bootstrap.min.css">
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

  <!-- Site meta data -->
  <meta name="og:site_name" content="<%= siteTitle %>" />
  <meta name="twitter:title" content="<%= siteTitle %>" />
  <meta name="twitter:description" content="<%= siteDesc %>" />
  <meta name="description" content="<%= siteDesc %>">
  <meta property="og:description" content="<%= siteDesc %>" />
  <meta name="theme-color" content="#0084da">
  <meta content="<%= siteURL + currentPath %>" property="og:url" />
</head>

<body class="auth mb-0">
  <div class="form-auth">
    <img class="mx-auto d-block mb-4" src="/assets/images/logo_text.png" width="320">
    <% errors = error && error.length > 0 %>
    <% if (error && typeof error[0] === 'string'){ %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
    <form action="/login" method="POST" novalidate>
      <input type="hidden" name="_csrf" value="<%= _csrf  %>" />
      <div class="form-group">
        <input name="email" type="email" class="form-control <% if(errors && error[0].email){ %>is-invalid <% } %>"
          id="email" placeholder="Your email">
        <% if (errors && error[0].email) { %>
        <small class="invalid-feedback">
          <%= error[0].email %>
        </small>
        <% } %>
      </div>
      <div class="form-group">
        <input name="password" type="password"
          class="form-control <% if(errors && error[0].password){ %>is-invalid <% } %>" id="password"
          placeholder="Your password">
        <% if (errors && error[0].password) { %>
        <small class="invalid-feedback">
          <%= error[0].password %>
        </small>
        <% } %>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe">
        <label class="form-check-label" for="rememberMe">Remember me</label>
      </div>
      <button type="submit" class="btn btn-auth btn-primary btn-block">login</button>
    </form>
    <div class="info">
      <a href="/user/forgot-password">
        <small class=" info text">Forgot your password?</small>
      </a>
      <a href="/user/activation/resend">
        <small class=" info text">Resend account activation token</small>
      </a>
      <a href="/signup">
        <small class="info text">Create a account</small>
      </a>
    </div>
  </div>
</body>

<!-- Bootstrap Javascript -->
<script type="text/javascript" src="/assets/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Custom -->
<script type="text/javascript" src="/assets/js/main.js"></script>

</html>
