<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>
    <%= title %> | <%= siteTitle %>
  </title>
  <!-- Frameworks -->
  <!-- Font Awsome-->
  <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/all.min.css">
  <!--Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
  <!--Bootstrap Toggle -->
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap-toggle/css/bootstrap-toggle.min.css">
  <!--Bootstrap Select -->
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap-select/css/bootstrap-select.min.css">
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript" src="/lib/jquery/js/jquery.min.js"></script>

  <!-- Meta Data for uploads -->
  <meta content="<%= fullUrl %>/view/i/<%= file.name %>" property="og:url" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="<%= siteTitle %>" />
  <meta property="og:image" content="<%= fullUrl %>/u/i/<%= file.name %>">
  <meta property="og:image:type" content="image/png">
  <meta property="og:type" content="image">
  <meta property="og:image:width" content="2560" />
  <meta property="og:image:height" content="1329" />
  <meta content="article" property="og:type" />
  <meta name="theme-color" content="#0084da">
  <meta name="og:site_name" content="<%= siteTitle %>" />
  <meta name="twitter:description" content="<%= sitePowered %>" />
  <meta name="description" content="<%= siteDesc %>">
  <meta property="og:description" content="<%= sitePowered %>"/>
</head>

<body>

  <% include ../partials/navbar %>

  <div class=" display-4 text-center">View Image</div>
  <div class="container w-75 pt-5 view_images text-center">
    <img class="img-thumbnail" src="/u/i/<%= file.name %>">
    <a href="/u/i/<%= file.name %>" target="_blank" class="btn position-absolute">
      <i class="fas fa-external-link-alt"></i>
    </a>
  </div>
  <div class="container w-75 fixed-bottom pb-5 mb-5">
    <div class="row">
      <div class="col-md-6">
        File Type: <strong><%= file.fileType %></strong>
      </div>
      <div class="col-md-6">
        Uploaded: <i><%=  moment(file.createdAt).format('MMM Do YYYY hh:mm A') %></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        File Size: <strong><%= file.size %></strong>
      </div>
      <div class="col-md-6">
        <a class="btn btn-primary text-white" href="/u/i/<%= file.name %>" download="<%= file.name %>"
          role="button">Download File</a>
      </div>
    </div>
  </div>
  </div>

  <% include ../partials/footer %>
